In [43]:
lista1 = ['Alvaro', 'Daniel', 'Pilar',  'Beatriz']

for i in lista1:
  print(i, end=' ')

print('')

Alvaro Daniel Pilar Beatriz

In [44]:
t1 = (1, 'Oleg', 25.5)
l1 = ['Maria', 'Bonita']
l2 = [t1, l1]
t2 = (l2, 'manzana')

print('t1=', t1)
print('l1=', l1)
print('t2=', t2)
print('l2=', l2)

t1= (1, 'Oleg', 25.5)
l1= ['Maria', 'Bonita']
t2= ([(1, 'Oleg', 25.5), ['Maria', 'Bonita']], 'manzana')
l2= [(1, 'Oleg', 25.5), ['Maria', 'Bonita']]

In [45]:
for i in t1:
  print(i)

print("\n")

for i in l1:
  print(i)

print("\n")

for i in l2:
  print(i)

print("\n")

for i in t2:
  print(i)

1
Oleg
25.5


Maria
Bonita


(1, 'Oleg', 25.5)
['Maria', 'Bonita']


[(1, 'Oleg', 25.5), ['Maria', 'Bonita']]
manzana

In [46]:
print(t2[0])
print(t2[1])
print("\n")

print(t2[0][0])
print(t2[0][1])
print("\n")

print(t2[0][0][0])
print(t2[0][0][1])
print(t2[0][0][2])
print("\n")

print(t2[0][1][0])
print(t2[0][1][1])
print(t2[0][0][2])
print("\n")

[(1, 'Oleg', 25.5), ['Maria', 'Bonita']]
manzana


(1, 'Oleg', 25.5)
['Maria', 'Bonita']


1
Oleg
25.5


Maria
Bonita
25.5

In [47]:
vocalTupla = ('a', 'e', 'i', 'o', 'u')
vocalLista = list(vocalTupla)

print(vocalTupla)
print(vocalLista)

('a', 'e', 'i', 'o', 'u')
['a', 'e', 'i', 'o', 'u']

In [48]:
alfabeto = 'abcdefghijklmnopqrstuvwxyz'
print("Alfabeto es un objeto string:", type(alfabeto))

Alfabeto es un objeto string: <class 'str'>

In [49]:
alfaL = []

for i in alfabeto:
  alfaL.append(i)

print(alfaL)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [50]:
N = len(alfaL)

numL = []

for i in range(N):
  numL.append(i)

print("alfaL = ", alfaL)
print("\n")
print("numL = ", numL)
print("\n")

alfanumL = alfaL + numL
alfanumLL = [alfaL, numL]

print("alfanumL = ", alfanumL)
print("\n")
print("alfanumLL = ", alfanumLL)

alfaL =  ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']


numL =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]


alfanumL =  ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]


alfanumLL =  [['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]]

In [51]:
for i in range(N):
  print(alfanumLL[0][i], alfanumLL[1][i])

a 0
b 1
c 2
d 3
e 4
f 5
g 6
h 7
i 8
j 9
k 10
l 11
m 12
n 13
o 14
p 15
q 16
r 17
s 18
t 19
u 20
v 21
w 22
x 23
y 24
z 25

In [52]:
alfaL.count('c')
print(alfaL)

alfaL.remove('c')
print(alfaL)

alfaL.count('c')
print(alfaL)

alfaL.append('c')
print(alfaL)

alfaL.index('m')
print(alfaL)

alfaL.reverse()
print(alfaL)

alfaL.sort()
print(alfaL)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
['a', 'b', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
['a', 'b', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
['a', 'b', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'c']
['a', 'b', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'c']
['c', 'z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p', 'o', 'n', 'm', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'b', 'a']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [53]:
for i in range(N):
  print(alfanumLL[0][i], alfanumLL[1][i])

a 0
b 1
c 2
d 3
e 4
f 5
g 6
h 7
i 8
j 9
k 10
l 11
m 12
n 13
o 14
p 15
q 16
r 17
s 18
t 19
u 20
v 21
w 22
x 23
y 24
z 25

In [54]:
frutas = ["manzana", "kiwi", "guanabana", "limon", "nispero", "Pomelo", "Mango"]

lista2 = []

for x in frutas:
  if "a" in x:
    lista2.append(x)

print(lista2)

['manzana', 'guanabana', 'Mango']

In [55]:
lista2 = [x for x in frutas if "a" in x]
print(lista2)

['manzana', 'guanabana', 'Mango']

In [56]:
lista2 = [x for x in frutas if "a" not in x]
print(lista2)

['kiwi', 'limon', 'nispero', 'Pomelo']

In [57]:
lista2 = [x for x in frutas if len(x) <6]
print(lista2)

['kiwi', 'limon', 'Mango']

In [58]:
lista2 = [x for x in t1 if type(x) == int or type(x) == float]
print(lista2)

[1, 25.5]